.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(2, 6, 23, 0.8);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    z-index: 1000;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #38bdf8;
}

.nav-links a.active {
    color: #38bdf8;
    font-weight: bold;
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 70px;
        right: 0;
        background: rgba(2, 6, 23, 0.8);
        backdrop-filter: blur(10px);
        flex-direction: column;
        width: 200px;
        padding: 20px;
        display: none;
    }

    .nav-links.open {
        display: flex;
    }

    .about-container {
        flex-direction: column;
    }

}